/* ===== GLOBAL ===== */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  line-height: 1.0;
  margin-bottom: 10px;
}

a {
  color: #666;
}

a.bookmarklet {
  background-color: #999;
  border: solid 1px #666;
  color: #FFF;
  font-size: 0.75em;
  font-weight: bold;
  padding: 5px;
}

a.link-button {
  color: #000;
  font-size: 0.9em;
}

p {
  margin: 1em 0em;
}

.center {
  text-align: center;
}

.weak {
  color: #666;
}


/* ===== JQUERY UI ===== */

.ui-autocomplete {
  font-size: 0.9em;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}


/* ===== HEADER ===== */

div#header-container {
  background-color: #000;
}

div#header {
  color: #FFF;
  margin: 0 auto;
  padding: 10px 0px;
  width: 960px;
}

div#header a#logo {
  color: #FFF;
  font-size: 1.75em; 
  text-decoration: none;
}

div#header div#navigation {
  color: #FFF;
  display: inline;
  float: right;
  font-size: 0.8em;
  margin-top: 7px;
}

div#header div#navigation a {
  color: #FFF;
}


/* ===== SIDEBAR ===== */

div#sidebar {
  font-size: 0.9em;
  float: left;
  width: 180px
}


/* ===== CONTENT ===== */

div#content-container {
  margin: 20px auto;
  width: 960px;
}

div#content {
  margin: 10px 0px 0px 200px;
}


/* ===== FORMS ===== */

form em {
  color: red;
}

input[type=text],
input[type=password],
textarea {
  border: solid 1px #D3D3D3;
  font-size: 1em;
  padding: 5px;
}

.field_with_errors {
  display: inline;
}

.formError {
  color: red;
  font-size: 0.75em;
}


/* ===== BOOKMARKS ===== */

a#add-bookmark-link {
  color: green;
  text-decoration: none;
}

a#add-bookmark-link:hover {
  text-decoration: underline;
}

a.edit-bookmark-link {
  color: #666 !important;
}

a.delete-bookmark-link {
  color: red !important;
}

div#bookmarks-list {
  margin-bottom: 20px;
}

div.bookmark {
  border-top: solid 1px #D3D3D3;
  margin-top: 10px;
  padding: 10px 10px 5px 10px;
}

div.bookmark a {
  color: #333;
  line-height: 1.2;
  text-decoration: none;
}

div.bookmark a:hover {
  text-decoration: underline;
}

div.bookmark div.tags {
  font-size: 0.9em;
  margin: 3px 0px 7px 0px;
}

div.bookmark div.actions {
  font-size: 0.8em;
}

div.bookmark div.actions a {
  line-height: 1;
  text-decoration: underline;
}


/* ===== TAGS ===== */

ul.tag-list li {
  line-height: 1.2em;
}

ul.tag-list li a {
  text-decoration: none;
}

ul.tag-list li a:hover {
  text-decoration: underline;
}

ul.tag-list li#show-all-tag {
  margin-top: 10px;
}


/* ===== LOGIN ===== */

body#no-sidebar div#content {
  margin: 10px;
}

body#no-sidebar div.form-container {
  border: solid 1px #D3D3D3;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}

body#no-sidebar div.form-container h2 {
  margin-bottom: 20px; 
}
