body { 
  color: #666;
  font: 16px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: normal;
}

.container_12 {
  overflow: hidden;
}


/* ===== HEADER ===== */

#header h1#logo {
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0px;
}

#header h1#logo a {
  text-decoration: none;
}

#header div#navigation {
  font-size: 13px;
  padding: 20px 0px;
  text-align: right;
}

#header div#navigation a {
  font-weight: bold;
}


/* ===== FORMS ===== */

.field_with_errors {
  display: inline;
}

.formError {
  color: #C00;
  font-size: 0.75em;
}

div.form-container {
  margin-bottom: 10px;
}

div.form-container h2 {
  border-bottom: solid 1px #DDD;
  margin-top: 0;
  padding-bottom: 0.5em;
}

div.form-container form em {
  color: #C00;
}

div.form-container form input[type=text], 
div.form-container form input[type=password], 
div.form-container form textarea {
  font-size: 1em;
  padding: 0.25em; 
  width: 98% !important;
}


/* ===== CONTENT: Home Page ===== */

#statement {
  background-color: #C00;
}

#statement p {
  color: #FFF;
  font-size: 24px;
  margin: 0 auto;
  padding: 40px;
  width: 600px;
}

#feature-title {
  margin: 20px 10px;
}

.feature {
  background-color: #EEE;
  border: solid 1px #DDD;
  font-size: 14px;
  height: 225px;
  padding: 15px;
}


/* ===== CONTENT: Bookmarks Index ===== */

#bookmarks-menu {
  font-size: 18px;
}

#bookmarks-menu a {
  color: green;
  text-decoration: none;
}

#bookmarks-menu a:hover {
  text-decoration: underline;
}

#bookmarks-list {
  margin-bottom: 20px;
}

#bookmarks-list .bookmark {
  border-top: solid 1px #DDD;
  padding: 10px 0px;
}

#bookmarks-list .title {
  margin-bottom: 5px;
}

#bookmarks-list .title a {
  line-height: 1;
  text-decoration: none;
}

#bookmarks-list .title a:hover {
  text-decoration: underline;
}

#bookmarks-list .bookmark .host,
#bookmarks-list .bookmark .tags,
#bookmarks-list .bookmark .actions {
  font-size: 13px;
}

#bookmarks-list .actions {
  text-align: right;
}

#bookmarks-list .actions .edit-bookmark-link {
  color: #666;
}

#bookmarks-list .actions .delete-bookmark-link {
  color: #C00;
}


/* ===== CONTENT: Bookmarks Pagination ===== */

#pagination {
  margin-bottom: 20px;
}

#pagination a {
  border: solid 1px #DDD;
  color: #666;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: auto;
}

#pagination a:hover {
  border: solid 1px #000;
  color: #000;
}


/* ===== CONTENT: Bookmarks Sidebar ===== */

#sidebar {
  font-size: 14px;
}

#sidebar h2 {
  border-bottom: solid 1px #DDD;
  font-size: 18px;
  margin-bottom: 10px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0px 5px;
}

#sidebar ul li {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

#sidebar ul li a {
  color: #666;
  text-decoration: none;
}

#sidebar ul li a:hover {
  text-decoration: underline;
}
