/* ===== COMMON ===== */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
}

a {
  color: #666;
}

p {
  margin-bottom: 10px;
}

/* ===== HEADER ===== */

div#wrapper {
  margin: 0 auto;
  width: 960px;
}

div#header {
  color: #333;
  padding: 10px 0px;
}

div#header span#logo {
  font-size: 1.75em; 
}

div#header div#navigation {
  display: inline;
  float: right;
  font-size: 0.8em;
  margin-top: 7px;
}

div#separator {
  background-color: #333;
  height: 5px; 
  margin-bottom: 20px;
}

div#sidebar {
  float: left;
  width: 220px
}

div#content {
  margin: 10px 0px 0px 230px;
}

div#bookmarks-menu {
}

a#add-bookmark-link {
  color: green;
}

a.edit-bookmark-link {
  color: #666 !important;
}

a.delete-bookmark-link {
  color: red !important;
}

div#bookmarks-list {
}

div.bookmark {
  border-top: solid 1px #D3D3D3;
  margin: 10px 0px;
  padding: 10px;
}

div.bookmark a {
  color: #333;
  font-size: 1.25em;
}

div.bookmark div.actions {
  margin-top: 5px;
}

div.bookmark div.actions a {
  font-size: 0.9em;
}

/* ===== LOGIN ===== */

body#login {
}

body#login div#content {
  margin: 10px;
}

body#login div#login-form-container {
  border: solid 1px #D3D3D3;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}

body#login div#login-form-container h2 {
  margin-bottom: 20px; 
}
