<div class="grid_6 push_3 form-container">
  <h2>Edit My Account</h2>

  <%= form_for @user, :url => account_path do |f| %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Update Account" %>
    <span class="pipe">&nbsp;|&nbsp;</span>
    <%= link_to "Back to my account", account_url %>
  <% end %>
</div>
