<div class="grid_4 push_4 form-container">
  <h2>Create Your Account</h2>
  <%= form_for @user, :url => account_path do |f| %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Create My Account" %>
  <% end %>
</div>
