<% content_for :statement do %>
  <div id="statement-container">
    <div id="statement">
      A lightweight web application designed to do one thing
      well: save bookmarks.
    </div>
  </div>
<% end %>

<h2>Why Swiftmarks?</h2>

<h3>It's Focused</h3>
<p>
  Swiftmarks is designed to do one thing well: save bookmarks.
  A small number of features keeps Swiftmarks simple, lightweight, and
  focused.
</p>

<h3>It's Private</h3>
<p>
  Swiftmarks is anti-social. There are no sharing or social
  networking features. Your bookmarks are always private.
</p>

<h3>It's Organized</h3>
<p>
  Swiftmarks organizes your bookmarks with tags. They're easy
  to use and much better than folders.
</p>

<h3>It's Everywhere</h3>
<p>
  The Swiftmarks bookmarklet allows you to save bookmarks from
  any website. Copy it to your bookmarks bar for quick and 
  easy access.
</p>
