<style>
  body { font-size: 18px !important; }
</style>

<div class="grid_12">
  <h2 id="statement-title">Your Bookmarks: Plain and Simple</h2>
  <div id="statement">
    Swiftmarks is a lightweight, no-fuss web application designed to save your
    bookmarks in a central location.
    <%= link_to "Sign Up", new_account_path, :class => "sign-up-button" %>
  </div>
</div>

<div class="grid_8 push_2">
  <h3>Why Swiftmarks?</h3>
  <p>
    <span class="black">It's Focused</span><br/>
    Swiftmarks is designed to do only one thing: save your bookmarks.
    A small number of features keeps Swiftmarks simple, lightweight, 
    and focused.
  </p>
  <p>
    <span class="black">It's Private</span><br/>
    Swiftmarks is anti-social. There are no sharing or social
    networking features. Your bookmarks are always private.
  </p>
  <p>
    <span class="black">It's Organized</span><br/>
    Swiftmarks lets you organize your bookmarks with tags. They're easy
    to use and much better than folders.
  </p>
  <p>
    <span class="black">It's Everywhere</span><br/>
    The Swiftmarks bookmarklet allows you to save bookmarks from
    any website. Copy it to your bookmarks bar for quick and 
    easy access.
  </p>
</div>
