<div class="grid_12">
  <div id="headline">
    <h2>A simple, no-nonsense, bookmarking application with minimal features.</h2>
    <h5>It's lightweight. It's fast. It's private.</h5>

    <%= link_to "Get Started!", new_account_path, :id => "sign-up-button" %>
  </div>
</div>

<div class="grid_8 push_2">
  <div id="feature-list">
    <h3>It's Focused</h3>
    <p>
      Swiftmarks is designed to do only one thing: save your bookmarks.
      A small number of features keeps Swiftmarks simple, lightweight, 
      and focused.
    </p>
    <hr/>
    <h3>It's Private</h3>
    <p>
      Swiftmarks is anti-social. There are no sharing or social
      networking features. Your bookmarks are always private.
    </p>
    <hr/>
    <h3>It's Organized</h3>
    <p>
      Swiftmarks lets you organize your bookmarks with tags. They're like
      like folders, only better!
    </p>
    <hr/>
    <h3>It's Everywhere</h3>
    <p>
      The Swiftmarks bookmarklet allows you to save bookmarks from
      any website. Copy it to your bookmarks bar for quick and 
      easy access.
    </p>
  </div>
</div>
